body {
  background-color: #2b2b2b; 
  margin: 0;                 
  font-family: 'Inter', sans-serif; 
}


.exercise-select {
  background-color: #b98080; 
  color: #333;
  border-radius: 0.4rem;
}

.custom-select2 {
  background-color: #8bfdb1; 
  color: #333;
  border-radius: 0.4rem;
}

.custom-select {
  background-color: #9ed6e7; 
  color: #333;
  border-radius: 0.4rem;
}

.header-glow {
  color: white; 
  -webkit-text-stroke: 0.5px black; 
  -webkit-text-fill-color: white; 
  font-weight: bold;  font-size: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.header-glow2 {
  color: white; 
  -webkit-text-stroke: 2px black; 
  -webkit-text-fill-color: white; 
  font-weight: bold;
  font-size: 12rem;
  text-shadow: 1.5rem 1rem 1rem rgba(0, 0, 0, 0.7);
  color: #ffffff;
}